.home-container{
    padding: 2rem 9rem;
}

.home-section{
    display: flex;
    height: 80vh;
}

.home-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 2rem 1rem 2rem 0rem;
    width: 50%;
}

.main-title{
    width: 78%;
}

.home-content p{
    width: 78%;
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
    text-align: center;
}

.home-content-buttons{
    display: flex;
    gap: 12px;
}

.projects-button{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px;    
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background-color: #FFFFFF;
    color: #344054;
    cursor: pointer;
    padding: 16px 22px;
    width: 40%;
    height: fit-content;
    font-weight:600;
    font-size: 18px;
    line-height: 28px;
}

.cotizar-button{
    border-radius: 8px;
    background-color: #e7b109;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    padding: 16px 22px;
    width: 35%;
    font-weight:600;
    font-size: 18px;
    line-height: 28px;
}

.home-image{
    width: 50%;
}

.home-image img{
    width: 100%;
    height: 100%;
    border-radius: 160px 0px 0px 0px;
    object-fit: cover;
}

.testimonial-section {
    padding: 6rem 9rem;
    position: relative;
    overflow: hidden;
}

.testimonials-carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.testimonial-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
}

.testimonial-slide.active {
    display: block;
}

.testimonial-content {
    display: flex;
    align-items: center;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonial-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 300px;
}

.testimonial-details img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 1px solid #CFD4C6;
    object-fit: fill;
}

.testimonial-title {
    flex: 1;
    text-align: left;
}

.testimonial-title h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
    margin: 0;
}

.person-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.person-name {
    color: #101828;
    font-weight: 700; 
    font-size: 18px; 
    line-height: 28px;
    margin: 4px 0;
}

.person-review {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
    margin: 4px 0;
}

.carousel-dots {
    text-align: center;
    margin-top: 2rem;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CFD4C6;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #07401f;
}

.project-prelude{
    padding: 6rem 0rem 6rem 0rem;
}

.project-prelude-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #e7b109;
}

.project-prelude-content{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.project-prelude-content h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
    padding: 0rem 2rem 0rem 0rem;
    width: 150%;
}

.project-prelude-content p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
    margin: 0px;
}

.projects-section {
    position: relative;
    overflow: hidden;
}

.projects-carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    margin-bottom: 2rem;
}

.projects-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
}

.projects-slide.active {
    display: block;
}

.projects-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-details img {
    width: 100%;
    height: 240px;
    border-radius: 16px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-details:hover img {
    transform: scale(1.03);
}

.project-date {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #07401f;
    margin: 0;
}

.project-title {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #101828;
    transition: color 0.3s ease;
}

.project-title:hover {
    color: #e7b109;
}

.project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.carousel-dots {
    text-align: center;
    margin-top: 2rem;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CFD4C6;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #07401f;
}

.questions-section{
    padding: 6rem 12rem 6rem 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

.questions-section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questions-section-title h5{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin: 0px;
}

.questions-section-title p{
    text-align: center;
}

.questions{
    gap: 16px;
}

.plus-icon{
    position: absolute;
    top: 37px;
    left: 10px;
    cursor: pointer;
}

.question-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin: 0px;
}

.hidden {
    display: none;
}

.question {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 12px;
    position: relative;
    width: 40rem;
    padding: 30px 34px;
}

.question-answer{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
}

@media (max-width: 769px) {
    .home-container{
        padding: 1.5rem;
    }

    .home-section{
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .home-content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        padding: 2rem 0rem 2rem 0rem;
    }
    
    .main-title{
        width: 100%;
    }

    .home-content p{
        width: 100%;
    }
    
    .home-content-buttons{
        flex-direction: column;
    }

    .projects-button{
        width: 100%;
    }

    .cotizar-button{
        width: 100%;
    }

    .home-image{
        width: 100%;
    }

    .testimonial-section {
        padding: 4rem 1.5rem;
    }
    
    .testimonial-content {
        flex-direction: column;
        gap: 2rem;
    }
    
    .testimonial-details {
        flex: 0 0 auto;
        margin-bottom: 1.5rem;
    }
    
    .testimonial-title {
        text-align: center;
    }
    
    .testimonial-title h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .project-prelude-content{
        flex-direction: column;
    }

    .project-prelude-content h3{
        width: 100%;
        padding: 0;
    }

    .projects-row {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
    .projects-section {
        padding: 3rem 1.5rem;
    }
    
    .questions-section{
        padding: 2rem 0rem;
    }

    .plus-icon {
        left: auto;
        right: 10px;
        top: 40%;
    }
    
    .question {
        padding: 20px 40px 20px 12px;
        width: 19rem;
    }

}

