@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100%;
    background-color: #07401f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.navbar-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 7rem;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.navbar-logo img {
    height: 100%;
    width: auto;
    max-height: 5vh;
    object-fit: contain;
    display: block;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    align-items: center;
}

.navbar-menu a {
    color: #e7b109;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
}

.navbar-menu a:hover {
    color: #07401f;
    background-color: #e7b109;
}

.cotizar {
    height: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
}

.cotizar a {
    color: #07401f;
    background-color: #fff;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

main {
    margin-top: 10vh;
    padding: 2rem 7rem;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

footer{
    background-color: #07401f;
    padding: 2rem 7rem;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-head h6{
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 0px;
}

.footer-head p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-content-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.visualization-button{
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background-color: #FFFFFF;
    color: #344054;
    cursor: pointer;
    padding: 12px 18px;
    width: 20%;
    font-weight:600;
    font-size: 16px;
    line-height: 24px;
}

.cotizar-footer-button{
    border-radius: 8px;
    background-color: #e7b109;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    padding: 12px 18px;
    width: 15%;
    font-weight:600;
    font-size: 16px;
    line-height: 24px;
}