body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #07401f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.navbar-container {
    max-width: 90%;
    width: 100%; /* Añadido para mejor control */
    margin: 0 auto;
    padding: 0 1rem; /* Movemos el padding aquí en lugar del header */
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.navbar-logo img {
    height: 100%;
    width: auto;
    max-height: 5vh;
    object-fit: contain;
    display: block;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    align-items: center;
}

.navbar-menu a {
    color: #e7b109;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
}

.navbar-menu a:hover {
    color: #07401f;
    background-color: #e7b109;
}

.cotizar {
    height: 100%;
    display: flex;
    align-items: center;
}

.cotizar a {
    color: #07401f;
    background-color: #fff;
    text-decoration: none;
    padding: 0 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

main {
    margin-top: 10vh;
    padding: 7.5rem 5rem;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(246 239 229);
}