.project-container{
    position: relative;
}

.project-header{
    background-color: #07401F;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem 9rem;
    position: relative;
    z-index: 1;
}

.header-subtitle{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.header-title{
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.header-description{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.header-actions{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.email-input{
    padding: 12px 18px;
    border-radius: 8px;
    width: 314px;
    border: 1px solid #D0D5DD;
    font-weight: 400;
    font-size: 16px;
    list-style: 24px;
    height: 48px;
}

.projects-cotizar-button{
    border-radius: 8px;
    background-color: #e7b109;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    padding: 12px 18px;
    width: 80%;
    height: 48px;
    font-weight:600;
    font-size: 16px;
    line-height: 24px;
}

.privacy-policy{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.privacy-policy a{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 0rem 9rem 2rem 9rem;
    position: relative;
    margin-top: -64px;
    z-index: 2;
}

.project-name {
    text-decoration: none;
    color: #101828; /* O el color que desees */
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.project-details{
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    gap: 20px;
}

.project-details img{
    width: 100%;
    height: 240px;
    border-radius: 16px;
    object-fit: cover; /* Esta es la propiedad clave */
    object-position: center; /* Opcional: centra la imagen */
}

.project-details h4{
    margin: 16px 0;

}

.project-date{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #07401f;
}

.project-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #101828;
}

.project-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paginator{
    display: flex;
    justify-content: center;
    padding: 1rem 9rem 1.5rem 9rem;
    align-items: center;
}

.page-item {
    margin: 0;
}

.page-link {
    color: #07401F !important;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid #D0D5DD;
    background-color: white;
}

.page-link:hover {
    background-color: #316e43 !important;
    color: #ffffff !important;
    border-color: #07401F;
}

.page-item.active .page-link {
    background-color: #07401F;
    color: white !important;
    border-color: #07401F;
}


.page-item:first-child .page-link,
.page-item:last-child .page-link {
    width: auto;
    color: #07401F;
}


.page-item.disabled .page-link {
    color: #D1D5DB;
    border-color: #D1D5DB;
}


.page-item:not(.disabled) .page-link:hover {
    background-color: #07401F;
    color: white;
}
