.services-container{
    padding: 6rem 0rem 0rem 0rem;
}

.services-prelude{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 0 14rem 5.5rem 14rem;
}

.service-prelude-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.service-prelude-title p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #E7B109;
    margin: 0;
}

.service-prelude-title h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
    color: #07401F;
}

.services-prelude p{
    margin: 0;
    text-align: center;
}

.services{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    background-color: #07401F;
    padding: 6rem 8rem;
}

.service-titles{
    width: 50%;
}

.service-titles-subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #E7B109;
    margin-bottom: 0;
}

.service-titles h2{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin: 12px 0px;
}

.service-titles-description{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #FFFFFF;
}

.service-list{
    width: 50%;
}

.service{
    background-color: #07401F;
    border-radius: 24px;
    width: 100%;
    display: flex;
}

.service-content{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yellow-line{
    margin-top: 0;
    border: 1px solid #E7B109;
    margin-bottom: 24px;
    height: 1px;
    background-color: #E7B109;
    width: 100%;
}

.service-content h2{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.service-content p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}

.service-prices{
    margin-top: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.know-more-button{
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background-color: #FFFFFF;
    color: #344054;
    cursor: pointer;
    padding: 12px 18px;
    width: 60%;
    font-weight:600;
    font-size: 16px;
    line-height: 24px;
}

.cotizar-service-button{
    border-radius: 8px;
    background-color: #e7b109;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    padding: 12px 18px;
    width: 20%;
    font-weight:600;
    font-size: 16px;
    line-height: 24px;
}

.get-service{
    display: flex;
    padding: 6rem 8rem;
    justify-content: space-between;
}

.get-service-content{
    width: 65%;
}

.get-service-content h3{
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #344054;
    margin: 0;
}

.get-service-content p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #344054;
}

.get-service-buttons{
    width: 35%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}

